@model List<aspnetmvcjson.Models.Article>
@{
    ViewBag.Title = "CRUD";
}
<main>
    <script type="text/javascript">
        function newArticleAdded() {
            var myModalEl = document.getElementById('divAddArticle');
            var modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();
            location.href = location.href;
        }

        function ArticleEdited() {
            var myModalEl = document.getElementById('divEditArticle');
            var modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();

            document.getElementById('iframeEditArticle').src = "";
            document.getElementById('iframeEditArticle').contentWindow.location.href = document.getElementById('iframeEditArticle').contentWindow.location.href;
            location.href = location.href;
        }

        function confirmDelete() {
            return confirm('Are you sure you want to delete this article?');
        }

    </script>
    <div class="container">

        <div class="row">
            <div class="col-sm-9">
                &nbsp;
            </div>
            <div class="col-sm-2 p-3">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-keyboard="false" data-backdrop="static" data-bs-target="#divAddArticle">Add New Article</a>
            </div>
            <div class="col-sm-1">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                &nbsp;
            </div>
            <div class="col-sm-10">
                <ul class='list-group'>
                    <li class='list-group-item fs-5 p-3 bg-primary text-white'>Article Listing</li>
                    @foreach (var objarticle in Model)
                    {
                        <li class='list-group-item p-2'>
                            <div class='row'>
                                <div class='col-sm-10'>@objarticle.articletitle</div>
                                <div class='col-sm-2 text-center'>
                                <a href='javascript:void(0)' data-bs-toggle="modal" data-keyboard="false" data-backdrop="static" data-bs-target="#divEditArticle" onclick='openEditingPanel(@objarticle.id)'>Edit</a>&nbsp;
                                <a href='/home/delarticle/@objarticle.id' onclick='return confirmDelete()'>Delete</a>&nbsp;
                                <a href='/home/viewarticle/@objarticle.id' target='_blank'>View</a></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-sm-1">
                &nbsp;
            </div>
        </div>
    </div>

    <!--Add Article Modal-->
    <div class="modal fade" id="divAddArticle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add New Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-12">
                                <iframe src="/home/addnewarticle" id="iframeAddArticle" style="width: 100%; height: 750px" border="0"></iframe>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Add Article Modal-->
    <div class="modal fade" id="divEditArticle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelEdit">Edit Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-12">
                                <iframe src="" id="iframeEditArticle" style="width: 100%; height: 750px" border="0"></iframe>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var myModalEl = document.getElementById('divAddArticle')
        myModalEl.addEventListener('hidden.bs.modal', function (event) {
            document.getElementById('iframeAddArticle').contentWindow.location.href = document.getElementById('iframeAddArticle').contentWindow.location.href;
        })


        var myModalEditArticle = document.getElementById('divEditArticle');
        myModalEditArticle.addEventListener('hidden.bs.modal', function (event) {
            document.getElementById('iframeEditArticle').src = "";
            document.getElementById('iframeEditArticle').contentWindow.location.href = document.getElementById('iframeEditArticle').contentWindow.location.href;
        })

        function openEditingPanel(_id) {
            document.getElementById('iframeEditArticle').src = "/home/editarticle/" + _id;
            //myModalEditArticle.show();
        }


    </script>
</main>